.App {
  text-align: center;
}
.app-title {
  background-color: rgb(185, 182, 225);
  padding: 2rem;
  border-radius: 0.2rem;
}

.button-refetch {
  padding: 0.6rem;
  margin: 0.8rem;
  background-color: rgb(185, 182, 225);
  font-weight: 800;
  color: aliceblue;
  border: none;
  border-radius: 0.2rem;
}

.user-list-container {
  display: flex;
  align-items: baseline;
}
.user-list-name {
  padding: 0.5rem;
}

.user-list-country {
  font-size: small;
}
